openapi: 3.0.0
info:
  title: Prisma AIRS AI Gateway API
  version: 3.0.0
  description: ''
servers:
- url: https://aigw.portkey.ai/v1
  description: Managed
- url: https://self-hosted-gateway-url.example.com/v1
  description: Self-hosted -- replace with your own gateway host
x-server-groups:
  ControlPlaneServers:
  - url: https://api.portkey.ai/v1
  - url: SELF_HOSTED_CONTROL_PLANE_URL
  DataPlaneServers:
  - url: https://api.portkey.ai/v1
  - url: SELF_HOSTED_GATEWAY_URL
  PublicServers:
  - url: https://api.portkey.ai
x-mint:
  mcp:
    enabled: true
    name: Prisma AIRS AI Gateway
    description: ''
security:
- Authorization: []
tags:
- name: Assistants
  description: ''
- name: Audio
  description: ''
- name: Batch
  description: ''
- name: Chat
  description: ''
- name: Completions
  description: ''
- name: Embeddings
  description: ''
- name: Files
  description: ''
- name: Fine-Tuning
  description: ''
- name: Images
  description: ''
- name: Model Pricing
  description: ''
- name: Models
  description: ''
- name: Moderations
  description: ''
- name: OCR
  description: ''
- name: Realtime
  description: ''
- name: Rerank
  description: ''
- name: Responses
  description: ''
- name: Vector Stores
  description: ''
- name: Configs
  description: ''
- name: Guardrails
  description: ''
- name: Integrations
  description: ''
- name: Integrations > Models
  description: ''
- name: Integrations > Workspaces
  description: ''
- name: Providers
  description: ''
- name: Secret References
  description: ''
- name: MCP Integrations
  description: ''
- name: MCP Integrations > Capabilities
  description: ''
- name: MCP Integrations > Metadata
  description: ''
- name: MCP Integrations > Workspaces
  description: ''
- name: MCP Servers
  description: ''
- name: MCP Servers > Capabilities
  description: ''
- name: MCP Servers > Connections
  description: ''
- name: MCP Servers > User Access
  description: ''
- name: API Keys
  description: ''
- name: Rate Limit Policies
  description: ''
- name: Usage Limit Policies
  description: ''
- name: Workspaces
  description: ''
- name: Analytics > Graphs
  description: ''
- name: Analytics > Groups
  description: ''
- name: Analytics > Summary
  description: ''
- name: Feedback
  description: ''
- name: Logs
  description: ''
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      tags:
      - Chat
      parameters:
      - $ref: '#/components/parameters/PortkeyTraceId'
      - $ref: '#/components/parameters/PortkeySpanId'
      - $ref: '#/components/parameters/PortkeyParentSpanId'
      - $ref: '#/components/parameters/PortkeySpanName'
      - $ref: '#/components/parameters/PortkeyMetadata'
      - $ref: '#/components/parameters/PortkeyCacheNamespace'
      - $ref: '#/components/parameters/PortkeyCacheForceRefresh'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /realtime:
    get:
      operationId: connectRealtime
      tags:
      - Realtime
      parameters:
      - $ref: '#/components/parameters/PortkeyTraceId'
      - $ref: '#/components/parameters/PortkeySpanId'
      - $ref: '#/components/parameters/PortkeyParentSpanId'
      - $ref: '#/components/parameters/PortkeySpanName'
      - $ref: '#/components/parameters/PortkeyMetadata'
      - $ref: '#/components/parameters/PortkeyCacheNamespace'
      - $ref: '#/components/parameters/PortkeyCacheForceRefresh'
      - name: model
        in: query
        required: false
        schema:
          type: string
      responses:
        '101':
          description: ''
        default:
          description: ''
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /completions:
    post:
      operationId: createCompletion
      tags:
      - Completions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompletionResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /guardrails:
    post:
      operationId: createGuardrail
      tags:
      - Guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuardrailRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGuardrailResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: listGuardrails
      tags:
      - Guardrails
      parameters:
      - name: workspace_id
        in: query
        schema:
          type: string
          format: uuid
      - name: organisation_id
        in: query
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: current_page
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGuardrailsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /guardrails/{guardrailId}:
    get:
      operationId: getGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardrailDetails'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      operationId: updateGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGuardrailRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGuardrailResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteGuardrail
      tags:
      - Guardrails
      parameters:
      - name: guardrailId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /guardrails/{guardrailId}/mcp-servers:
    parameters:
    - name: guardrailId
      in: path
      required: true
      schema:
        type: string
    put:
      operationId: bulkSyncGuardrailMcpServers
      tags:
      - Guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSyncMcpServerMappingsRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSyncMcpServerMappingsResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: listGuardrailMcpServers
      tags:
      - Guardrails
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpServerMapping'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /guardrails/{guardrailId}/mcp-servers/{mcpServerId}:
    parameters:
    - name: guardrailId
      in: path
      required: true
      schema:
        type: string
    - name: mcpServerId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    put:
      operationId: upsertGuardrailMcpServer
      tags:
      - Guardrails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertMcpServerMappingRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertMcpServerMappingResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /images/generations:
    post:
      operationId: createImage
      tags:
      - Images
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImageRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /images/edits:
    post:
      operationId: createImageEdit
      tags:
      - Images
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageEditRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /images/variations:
    post:
      operationId: createImageVariation
      tags:
      - Images
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImageVariationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
      - Embeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /rerank:
    post:
      operationId: createRerank
      tags:
      - Rerank
      parameters:
      - $ref: '#/components/parameters/PortkeyTraceId'
      - $ref: '#/components/parameters/PortkeySpanId'
      - $ref: '#/components/parameters/PortkeyParentSpanId'
      - $ref: '#/components/parameters/PortkeySpanName'
      - $ref: '#/components/parameters/PortkeyMetadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRerankRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRerankResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /ocr:
    post:
      operationId: createOcr
      tags:
      - OCR
      parameters:
      - $ref: '#/components/parameters/PortkeyTraceId'
      - $ref: '#/components/parameters/PortkeySpanId'
      - $ref: '#/components/parameters/PortkeyParentSpanId'
      - $ref: '#/components/parameters/PortkeySpanName'
      - $ref: '#/components/parameters/PortkeyMetadata'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOcrRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOcrResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
      - Audio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeechRequest'
      responses:
        '200':
          description: ''
          headers:
            Transfer-Encoding:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /audio/transcriptions:
    post:
      operationId: createTranscription
      tags:
      - Audio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranscriptionRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CreateTranscriptionResponseJson'
                - $ref: '#/components/schemas/CreateTranscriptionResponseVerboseJson'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /audio/translations:
    post:
      operationId: createTranslation
      tags:
      - Audio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateTranslationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CreateTranslationResponseJson'
                - $ref: '#/components/schemas/CreateTranslationResponseVerboseJson'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /files:
    get:
      operationId: listFiles
      tags:
      - Files
      parameters:
      - in: query
        name: purpose
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createFile
      tags:
      - Files
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateFileRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /files/{file_id}:
    delete:
      operationId: deleteFile
      tags:
      - Files
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: retrieveFile
      tags:
      - Files
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIFile'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /files/{file_id}/content:
    get:
      operationId: downloadFile
      tags:
      - Files
      parameters:
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /fine_tuning/jobs:
    post:
      operationId: createFineTuningJob
      parameters: []
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
      tags:
      - Fine-Tuning
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/OpenAIFinetuneJob'
              - $ref: '#/components/schemas/BedrockFinetuneJob'
              - $ref: '#/components/schemas/PortkeyFinetuneJob'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: listPaginatedFineTuningJobs
      tags:
      - Fine-Tuning
      parameters:
      - name: after
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaginatedFineTuningJobsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /fine_tuning/jobs/{fine_tuning_job_id}:
    get:
      operationId: retrieveFineTuningJob
      tags:
      - Fine-Tuning
      parameters:
      - in: path
        name: fine_tuning_job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /fine_tuning/jobs/{fine_tuning_job_id}/events:
    get:
      operationId: listFineTuningEvents
      tags:
      - Fine-Tuning
      parameters:
      - in: path
        name: fine_tuning_job_id
        required: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningJobEventsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /fine_tuning/jobs/{fine_tuning_job_id}/cancel:
    post:
      operationId: cancelFineTuningJob
      tags:
      - Fine-Tuning
      parameters:
      - in: path
        name: fine_tuning_job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FineTuningJob'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /fine_tuning/jobs/{fine_tuning_job_id}/checkpoints:
    get:
      operationId: listFineTuningJobCheckpoints
      tags:
      - Fine-Tuning
      parameters:
      - in: path
        name: fine_tuning_job_id
        required: true
        schema:
          type: string
      - name: after
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFineTuningJobCheckpointsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      parameters:
      - in: query
        name: ai_service
        required: false
        schema:
          type: string
      - in: query
        name: provider
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          type: integer
      - in: query
        name: sort
        required: false
        schema:
          type: string
          enum:
          - name
          - provider
          - ai_service
          default: name
      - in: query
        name: order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /models/{model}:
    get:
      operationId: retrieveModel
      tags:
      - Models
      parameters:
      - in: path
        name: model
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteModel
      tags:
      - Models
      parameters:
      - in: path
        name: model
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /moderations:
    post:
      operationId: createModeration
      tags:
      - Moderations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModerationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModerationResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /assistants:
    get:
      operationId: listAssistants
      tags:
      - Assistants
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssistantsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createAssistant
      tags:
      - Assistants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssistantRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /assistants/{assistant_id}:
    get:
      operationId: getAssistant
      tags:
      - Assistants
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: modifyAssistant
      tags:
      - Assistants
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyAssistantRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteAssistant
      tags:
      - Assistants
      parameters:
      - in: path
        name: assistant_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAssistantResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /responses:
    post:
      operationId: createResponse
      tags:
      - Responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResponse'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ResponseStreamEvent'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /responses/{response_id}:
    get:
      operationId: getResponse
      tags:
      - Responses
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: array
          items:
            $ref: '#/components/schemas/Includable'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteResponse
      tags:
      - Responses
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /responses/{response_id}/input_items:
    get:
      operationId: listInputItems
      tags:
      - Responses
      parameters:
      - in: path
        name: response_id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - in: query
        name: order
        schema:
          type: string
          enum:
          - asc
          - desc
      - in: query
        name: after
        schema:
          type: string
      - in: query
        name: before
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseItemList'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads:
    post:
      operationId: createThread
      tags:
      - Assistants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}:
    get:
      operationId: getThread
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: modifyThread
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyThreadRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteThread
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteThreadResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/messages:
    get:
      operationId: listMessages
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      - name: run_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createMessage
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/messages/{message_id}:
    get:
      operationId: getMessage
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: message_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: modifyMessage
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: message_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyMessageRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteMessage
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: message_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMessageResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/runs:
    post:
      operationId: createThreadAndRun
      tags:
      - Assistants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadAndRunRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs:
    get:
      operationId: listRuns
      tags:
      - Assistants
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createRun
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs/{run_id}:
    get:
      operationId: getRun
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: modifyRun
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyRunRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs/{run_id}/submit_tool_outputs:
    post:
      operationId: submitToolOuputsToRun
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitToolOutputsRunRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs/{run_id}/cancel:
    post:
      operationId: cancelRun
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs/{run_id}/steps:
    get:
      operationId: listRunSteps
      tags:
      - Assistants
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
      - name: run_id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRunStepsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /threads/{thread_id}/runs/{run_id}/steps/{step_id}:
    get:
      operationId: getRunStep
      tags:
      - Assistants
      parameters:
      - in: path
        name: thread_id
        required: true
        schema:
          type: string
      - in: path
        name: run_id
        required: true
        schema:
          type: string
      - in: path
        name: step_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStepObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores:
    get:
      operationId: listVectorStores
      tags:
      - Vector Stores
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorStoresResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createVectorStore
      tags:
      - Vector Stores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVectorStoreRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}:
    get:
      operationId: getVectorStore
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: modifyVectorStore
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVectorStoreRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteVectorStore
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVectorStoreResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/files:
    get:
      operationId: listVectorStoreFiles
      tags:
      - Vector Stores
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          enum:
          - in_progress
          - completed
          - failed
          - cancelled
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorStoreFilesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      operationId: createVectorStoreFile
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVectorStoreFileRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/files/{file_id}:
    get:
      operationId: getVectorStoreFile
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: deleteVectorStoreFile
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      - in: path
        name: file_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVectorStoreFileResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/file_batches:
    post:
      operationId: createVectorStoreFileBatch
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVectorStoreFileBatchRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/file_batches/{batch_id}:
    get:
      operationId: getVectorStoreFileBatch
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      - in: path
        name: batch_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/file_batches/{batch_id}/cancel:
    post:
      operationId: cancelVectorStoreFileBatch
      tags:
      - Vector Stores
      parameters:
      - in: path
        name: vector_store_id
        required: true
        schema:
          type: string
      - in: path
        name: batch_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorStoreFileBatchObject'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /vector_stores/{vector_store_id}/file_batches/{batch_id}/files:
    get:
      operationId: listFilesInVectorStoreBatch
      tags:
      - Vector Stores
      parameters:
      - name: vector_store_id
        in: path
        required: true
        schema:
          type: string
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        schema:
          type: string
          default: desc
          enum:
          - asc
          - desc
      - name: after
        in: query
        schema:
          type: string
      - name: before
        in: query
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          enum:
          - in_progress
          - completed
          - failed
          - cancelled
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorStoreFilesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /batches:
    post:
      operationId: createBatch
      tags:
      - Batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/OpenAIBatchJob'
              - $ref: '#/components/schemas/BedrockBatchJob'
              - $ref: '#/components/schemas/VertexBatchJob'
              - $ref: '#/components/schemas/PortkeyBatchJob'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: listBatches
      tags:
      - Batch
      parameters:
      - in: query
        name: after
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBatchesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /batches/{batch_id}/output:
    get:
      operationId: getBatchOutput
      tags:
      - Batch
      parameters:
      - in: path
        name: batch_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /batches/{batch_id}:
    get:
      operationId: retrieveBatch
      tags:
      - Batch
      parameters:
      - in: path
        name: batch_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /batches/{batch_id}/cancel:
    post:
      operationId: cancelBatch
      tags:
      - Batch
      parameters:
      - in: path
        name: batch_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
  /configs:
    get:
      tags:
      - Configs
      operationId: listConfigs
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        slug:
                          type: string
                        organisation_id:
                          type: string
                          format: uuid
                        workspace_id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        owner_id:
                          type: string
                          format: uuid
                        updated_by:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        last_updated_at:
                          type: string
                          format: date-time
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      tags:
      - Configs
      operationId: createConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: object
                workspace_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      version_id:
                        type: string
                        format: uuid
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /configs/{slug}:
    delete:
      tags:
      - Configs
      operationId: deleteConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      tags:
      - Configs
      operationId: getConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      config:
                        type: object
                        properties:
                          retry:
                            type: object
                            properties:
                              attempts:
                                type: integer
                              on_status_codes:
                                type: array
                                items:
                                  type: integer
                          cache:
                            type: object
                            properties:
                              mode:
                                type: string
                              max_age:
                                type: integer
                          strategy:
                            type: object
                            properties:
                              mode:
                                type: string
                          targets:
                            type: array
                            items:
                              type: object
                              properties:
                                provider:
                                  type: string
                                virtual_key:
                                  type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      tags:
      - Configs
      operationId: updateConfig
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                config:
                  type: object
                  properties:
                    virtual_key:
                      type: string
                status:
                  type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      version_id:
                        type: string
                        format: uuid
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /configs/{slug}/versions:
    get:
      tags:
      - Configs
      operationId: listConfigVersions
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        workspace_id:
                          type: string
                          format: uuid
                        slug:
                          type: string
                        organisation_id:
                          type: string
                          format: uuid
                        status:
                          type: string
                        owner_id:
                          type: string
                          format: uuid
                        updated_by:
                          type: string
                          format: uuid
                        created_at:
                          type: string
                          format: date-time
                        last_updated_at:
                          type: string
                          format: date-time
                        config:
                          type: string
                        format:
                          type: string
                        type:
                          type: string
                        version_id:
                          type: string
                          format: uuid
                        object:
                          type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /feedback:
    post:
      operationId: createFeedback
      tags:
      - Feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /feedback/{id}:
    put:
      operationId: updateFeedback
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      tags:
      - Feedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackUpdateRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /integrations:
    get:
      tags:
      - Integrations
      parameters:
      - in: query
        name: current_page
        schema:
          type: integer
      - in: query
        name: page_size
        schema:
          type: integer
      - in: query
        name: workspace_id
        schema:
          type: string
      - in: query
        name: type
        schema:
          type: string
          enum:
          - workspace
          - organisation
          - all
          default: all
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationList'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      tags:
      - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: UUID
                  slug:
                    type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /integrations/{slug}:
    get:
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationDetailResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      tags:
      - Integrations
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /integrations/{slug}/models:
    get:
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationModelsResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateModelsRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      tags:
      - Integrations > Models
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      - name: slugs
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /integrations/{slug}/workspaces:
    get:
      tags:
      - Integrations > Workspaces
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationWorkspacesResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      tags:
      - Integrations > Workspaces
      parameters:
      - in: path
        name: slug
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateWorkspacesRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /providers:
    get:
      tags:
      - Providers
      parameters:
      - in: query
        name: current_page
        schema:
          type: integer
      - in: query
        name: page_size
        schema:
          type: integer
      - in: query
        name: workspace_id
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum:
                    - list
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Providers'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      tags:
      - Providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                integration_id:
                  type: string
                workspace_id:
                  type: string
                  format: uuid
                slug:
                  type: string
                note:
                  type: string
                  nullable: true
                usage_limits:
                  $ref: '#/components/schemas/UsageLimits'
                rate_limits:
                  $ref: '#/components/schemas/RateLimits'
                expires_at:
                  type: string
                  format: date-time
              required:
              - name
              - integration_id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  slug:
                    type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /providers/{slug}:
    get:
      tags:
      - Providers
      parameters:
      - in: query
        name: workspace_id
        schema:
          type: string
      - in: path
        name: slug
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Providers'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      tags:
      - Providers
      parameters:
      - in: query
        name: workspace_id
        schema:
          type: string
      - in: path
        name: slug
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                note:
                  type: string
                usage_limits:
                  $ref: '#/components/schemas/UsageLimits'
                  nullable: true
                rate_limits:
                  $ref: '#/components/schemas/RateLimits'
                expires_at:
                  type: string
                  format: date-time
                  nullable: true
                reset_usage:
                  type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: UUID
                  slug:
                    type: string
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      tags:
      - Providers
      parameters:
      - in: query
        name: workspace_id
        schema:
          type: string
      - in: path
        name: slug
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /admin/workspaces:
    post:
      tags:
      - Workspaces
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                defaults:
                  type: object
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                users:
                  type: array
                  items:
                    type: string
                usage_limits:
                  type: array
                  items:
                    $ref: '#/components/schemas/UsageLimits'
                rate_limits:
                  type: array
                  items:
                    $ref: '#/components/schemas/RateLimits'
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      tags:
      - Workspaces
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
      - name: current_page
        in: query
        schema:
          type: integer
      - name: name
        in: query
        schema:
          type: string
      - name: exact_name
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - archived
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceList'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /admin/workspaces/{workspaceId}:
    put:
      tags:
      - Workspaces
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                defaults:
                  type: object
                  properties:
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
                    input_guardrails:
                      type: array
                      items:
                        type: string
                    output_guardrails:
                      type: array
                      items:
                        type: string
                    user_api_key_config:
                      type: string
                      nullable: true
                usage_limits:
                  type: array
                  items:
                    $ref: '#/components/schemas/UsageLimits'
                rate_limits:
                  type: array
                  items:
                    $ref: '#/components/schemas/RateLimits'
      parameters:
      - name: workspaceId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      tags:
      - Workspaces
      parameters:
      - name: workspaceId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceWithUsers'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      tags:
      - Workspaces
      parameters:
      - name: workspaceId
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /scim/workspaces:
    get:
      tags:
      - Workspaces
      parameters:
      - name: workspace_id
        in: query
        required: false
        schema:
          type: string
      - name: scim_group_id
        in: query
        required: false
        schema:
          type: string
      - name: role
        in: query
        required: false
        schema:
          type: string
          enum:
          - admin
          - member
          - manager
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  mappings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        workspace_id:
                          type: string
                        scim_group:
                          type: string
                        scim_group_id:
                          type: string
                        role:
                          type: string
                          enum:
                          - admin
                          - member
                          - manager
                  total_count:
                    type: integer
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    post:
      tags:
      - Workspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - workspace_id
              - role
              properties:
                workspace_id:
                  type: string
                role:
                  type: string
                  enum:
                  - admin
                  - member
                  - manager
                scim_group_id:
                  type: string
                scim_group_name:
                  type: string
              oneOf:
              - required:
                - scim_group_id
              - required:
                - scim_group_name
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimWorkspaceMapping'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /scim/workspaces/{scimWorkspaceGroupId}:
    delete:
      tags:
      - Workspaces
      parameters:
      - name: scimWorkspaceGroupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          headers:
            Content-Type:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /mcp-integrations:
    post:
      operationId: McpIntegrations_create
      tags:
      - MCP Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMcpIntegration'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpIntegrationCreateResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    get:
      operationId: McpIntegrations_list
      tags:
      - MCP Integrations
      parameters:
      - name: organisation_id
        in: query
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        schema:
          type: string
          enum:
          - workspace
          - organisation
          - all
      - name: workspace_id
        in: query
        schema:
          type: string
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: current_page
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: search
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpIntegrationListResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /mcp-integrations/{mcpIntegrationId}:
    parameters:
    - name: mcpIntegrationId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: McpIntegrations_retrieve
      tags:
      - MCP Integrations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpIntegration'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      operationId: McpIntegrations_update
      tags:
      - MCP Integrations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMcpIntegration'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    delete:
      operationId: McpIntegrations_delete
      tags:
      - MCP Integrations
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /mcp-integrations/{mcpIntegrationId}/workspaces:
    parameters:
    - name: mcpIntegrationId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: McpIntegrationWorkspaces_list
      tags:
      - MCP Integrations > Workspaces
      parameters:
      - name: version
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/McpIntegrationWorkspacesListResponse'
                - $ref: '#/components/schemas/McpIntegrationWorkspacesLegacyResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      operationId: McpIntegrationWorkspaces_bulkUpdate
      tags:
      - MCP Integrations > Workspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateMcpIntegrationWorkspaces'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    servers:
    - url: https://mp.us.prod.airs-gw.portkey.ai/api/v1
      description: Managed
  /mcp-integrations/{mcpIntegrationId}/capabilities:
    parameters:
    - name: mcpIntegrationId
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: McpIntegrationCapabilities_list
      tags:
      - MCP Integrations > Capabilities
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      - name: type
        in: query
        schema:
          type: string
          enum:
          - tool
          - prompt
          - resource
          - resource_template
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpIntegrationCapabilitiesListResponse'
      summary: ''
      description: ''
      x-airs-provenance:
        claims: []
        origin_kind: human
        text_digest: ''
    put:
      operationId: McpIntegrationCapabilities_bulkUpdate
      tags:
      - MCP Integrations > Capabilities
      requestBody:
        required: true
        content:
          application/json:
[...]
